.EditPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    order: 1;
    flex-grow: 5;

    border: 2px solid black;

}

.EditLabelBlock{
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    order: 0;
    flex-grow: 2;

    border-bottom: 2px solid black;
}

.EditFormBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 2vh;

    max-height: 82vh;

    order: 1;
    flex-grow: 1000;
}

.EditForm{
    margin-left: 4vw;
    margin-top: 2vh;
    margin-right: 4vw;
}

.AlertBlock{
    display: block;

    order: 2;
    flex-grow: 2;
}

.EditButtonsBlock{
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    order: 3;
    flex-grow: 2;
}

.EditButtonStandard{
    width: 100px;
}

